{% load core_extras %}
<li>
  <strong>{{ entry.created_at|smart_date }}</strong>
  <div>{{ entry.text }}</div>
  <div>
    {% if entry.maintainers.all %}
      Maintainers: {{ entry.maintainers.all|join:", " }}
    {% elif entry.maintainer_names %}
      Maintainers: {{ entry.maintainer_names }}
    {% endif %}
  </div>
  {% if entry.media.all %}
    <div class="log-entry-media">
      {% for media in entry.media.all %}
        <img src="{{ media.file.url }}" alt="Photo for {{ machine.display_name }}" width="200">
      {% endfor %}
    </div>
  {% endif %}
</li>
