# Web service dependencies
-r requirements.base.txt

# Production Server
gunicorn==23.0.0

# Static Files Serving
whitenoise==6.8.2

# QR Code Generation
qrcode[pil]==8.0

# Markdown Rendering
Markdown==3.7
nh3==0.2.18
linkify-it-py==2.0.3
