{% load core_extras %}
{% if entry.ENTRY_TYPE == "log" %}
  {% include "maintenance/partials/global_log_entry.html" with entry=entry %}
{% elif entry.ENTRY_TYPE == "problem_report" %}
  {% include "maintenance/partials/global_problem_report_entry.html" with entry=entry %}
{% elif entry.ENTRY_TYPE == "part_request" %}
  {% include "parts/partials/part_list_entry.html" with entry=entry is_global_feed=True %}
{% elif entry.ENTRY_TYPE == "part_request_update" %}
  {% include "parts/partials/part_update_activity_entry.html" with entry=entry is_global_feed=True %}
{% endif %}
