{% extends "layouts/two_column.html" %}
{% load core_extras %}
{% block title %}
  {% if is_create %}
    Add Terminal
  {% else %}
    Edit Terminal {{ terminal.user.username }}
  {% endif %}
  · {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
  <a href="{% url 'terminal-list' %}">Shared Terminal Accounts</a>
  <span>
    {% if is_create %}
      New Account
    {% else %}
      {{ terminal.user|display_name_with_username }}
    {% endif %}
  </span>
{% endblock %}
{% block mobile_actions %}
  {% if not is_create %}
    {% if terminal.user.is_active %}
      <form method="post" action="{% url 'terminal-deactivate' terminal.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn--danger btn--full">
          {% icon "ban" class="meta" %}
          Deactivate
        </button>
      </form>
    {% else %}
      <form method="post" action="{% url 'terminal-reactivate' terminal.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn--success btn--full">
          {% icon "rotate-left" class="meta" %}
          Reactivate
        </button>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
{% block sidebar %}
  {% sidebar_section label="Shared Terminal" %}
  {% if not is_create %}
    <div class="sidebar__title">{{ terminal.user|display_name_with_username }}</div>
  {% else %}
    <div class="sidebar__title text-muted">New terminal</div>
  {% endif %}
{% endsidebar_section %}
{% if not is_create %}
  {% sidebar_section %}
  {% if terminal.user.is_active %}
    <form method="post" action="{% url 'terminal-deactivate' terminal.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn--danger btn--full">
        {% icon "ban" class="meta" %}
        Deactivate
      </button>
    </form>
  {% else %}
    <form method="post" action="{% url 'terminal-reactivate' terminal.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn--success btn--full">
        {% icon "rotate-left" class="meta" %}
        Reactivate
      </button>
    </form>
  {% endif %}
{% endsidebar_section %}
{% endif %}
{% endblock %}
{% block main %}
  <div class="card card--padded">
    <form method="post" autocomplete="off" class="form-main">
      {% csrf_token %}
      {% form_non_field_errors form %}
      {% form_fields form %}
      <div class="form-actions">
        <a href="{% url 'terminal-list' %}" class="btn btn--secondary">
          {% icon "circle-xmark" class="meta" %}
          Cancel
        </a>
        <button type="submit" class="btn btn--log">
          {% icon "floppy-disk" class="meta" %}
          {% if is_create %}
            Create Terminal
          {% else %}
            Save Changes
          {% endif %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
