{% extends "layouts/minimal_centered.html" %}
{% load core_extras %}
{% block title %}
  {% block error_title %}Error{% endblock %}
  · The Flip
{% endblock %}
{% block centered_content %}
  <div class="text-center">
    {% icon "triangle-exclamation" class="fa-3x text-muted" %}
    <h1 class="space-above-md">
      {% block error_heading %}Error{% endblock %}
    </h1>
    <p class="text-muted space-above-sm">
      {% block error_message %}Something went wrong.{% endblock %}
    </p>
  </div>
{% endblock %}
