{% extends "layouts/two_column.html" %}
{% load static core_extras %}
{% block title %}
  {% block list_title %}{% endblock %}
  · {{ block.super }}
{% endblock %}
{% block sidebar %}
  {% sidebar_section %}
  {% block sidebar_stats %}{% endblock %}
{% endsidebar_section %}
{% sidebar_section %}
{% block sidebar_actions %}{% endblock %}
{% endsidebar_section %}
{% endblock %}
{% block main %}
  <!-- SEARCH BAR -->
  <div class="filter-bar">
    <div class="filter-bar__search filter-bar__search--full">
      <form method="get" action="">
        <input type="search"
               name="q"
               placeholder="Search..."
               value="{{ search_form.q.value|default:'' }}"
               class="filter-bar__search-input">
        {% icon "magnifying-glass" class="filter-bar__search-icon" %}
      </form>
    </div>
  </div>
  <!-- LIST CONTENT -->
  <div id="log-container"
       data-fetch-url="{% block infinite_scroll_url %}{% endblock %}">
    {% block list_content %}{% endblock %}
  </div>
  <div id="log-loading" class="hidden">Loading…</div>
  <div id="log-sentinel"></div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'core/infinite_scroll.js' %}" defer></script>
  <script src="{% static 'core/video_transcode_poll.js' %}" defer></script>
{% endblock extra_scripts %}
