{% extends "maintenance/log_form_base.html" %}
{% block form_title %}New Log Entry{% endblock %}
{% block breadcrumb_current %}Log Work{% endblock %}
{% block breadcrumbs %}
  {% if is_global %}
    <a href="{% url 'log-list' %}" class="breadcrumbs__link">Logs</a>
    <span>/</span>
    <span class="breadcrumbs__current">New Log Entry</span>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
{% block cancel_url %}
  {% if is_global %}
    {% url 'log-list' %}
  {% elif problem_report %}
    {% url 'problem-report-detail' problem_report.pk %}
  {% else %}
    {% url 'log-machine' machine.slug %}
  {% endif %}
{% endblock %}
{% block form_actions_extra %}
  {% if problem_report %}
    <!-- Close problem checkbox -->
    <label class="checkbox-label">
      <input type="checkbox"
             id="close_problem"
             name="close_problem"
             class="checkbox">
      <span>Close the problem report</span>
    </label>
  {% endif %}
{% endblock %}
{% block submit_label %}Log It{% endblock %}
