{% extends "catalog/machine_feed_base.html" %}
{% load static core_extras %}
{% block feed_title %}Logs{% endblock %}
{% block infinite_scroll_url %}
  {% url 'log-entries' machine.slug %}
{% endblock %}
{% block feed_content %}
  {% if log_entries %}
    {% timeline id="log-list" %}
    {% for entry in log_entries %}
      {% include "maintenance/partials/log_entry.html" with entry=entry %}
    {% endfor %}
  {% endtimeline %}
{% else %}
{% empty_state empty_message="No log entries yet." search_message="No log entries match your search." is_search=search_form.q.value %}
{% endif %}
{% endblock %}
