{% extends "catalog/machine_feed_base.html" %}
{% load static core_extras %}
{% block feed_title %}Problems{% endblock %}
{% block infinite_scroll_url %}{% endblock %}
{% block feed_content %}
  {% if reports %}
    {% timeline id="log-list" inject_log_entries=False %}
    {% for entry in reports %}
      {% include "maintenance/partials/problem_report_entry.html" with entry=entry %}
    {% endfor %}
  {% endtimeline %}
{% else %}
{% empty_state empty_message="No problem reports yet." search_message="No problem reports match your search." is_search=search_form.q.value %}
{% endif %}
{% endblock %}
