{% extends "maintenance/problem_report_form_base.html" %}
{% load static core_extras %}
{% block form_title %}New Problem Report{% endblock %}
{% block breadcrumb_current %}New Report{% endblock %}
{% block submit_label %}Report Problem{% endblock %}
{% block form_enctype %}enctype="multipart/form-data"{% endblock %}
{% block problem_type_field %}{% endblock %}
{% block media_upload %}
  <!-- File upload (accumulates across multiple selections) -->
  <div class="form-hint space-above-sm" data-file-accumulator>
    <input type="file"
           name="{{ form.media_file.html_name }}"
           class="hidden"
           multiple
           accept="image/*,video/*,.heic,.heif"
           data-file-input>
    <a href="#" class="file-upload-link" data-file-trigger>
      {% icon "paperclip" class="space-right-xs" %}Add photos and videos
    </a>
    {% field_errors form.media_file %}
    <!-- Uploaded files preview -->
    <div class="file-preview-row" data-file-preview></div>
  </div>
{% endblock %}
{% block extra_scripts_child %}
  <script src="{% static 'core/file_accumulator.js' %}" defer></script>
{% endblock %}
