{% extends "base.html" %}
{% block title %}Home · {{ block.super }}{% endblock %}
{% block content %}
  <div class="card">
    <p>Welcone to The Flip's pinball machine maintenance system.</p>
  </div>
  <div class="card">
    <h3>Existing Accounts</h3>
    <p>
      These are all the accounts in the system.  If your name is here, log in!  Passwords are all <code>test123</code>.
    </p>
    {% if maintainers %}
      <p>
        {% for maintainer in maintainers %}
          <code>{{ maintainer.display_name }}</code>
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    {% else %}
      <p>No maintainers found.</p>
    {% endif %}
    If you don't see your name here, ask William for an account.
  </div>
  <div class="card">
    <h3>Bugs &amp; Feature Requests</h3>
    <p>Found a bug?  Have an idea?</p>
    <a href="https://github.com/deanmoses/the_flip/issues"
       class="btn btn-primary">Create a GitHub Issue</a> (requires GitHub account)
    or
    <a href="https://discord.com/channels/1408179768033149132/1408180474853064798"
       class="btn btn-primary">Post to The Flip Discord</a>
  </div>
  <div class="card">
    <h3>Superusers</h3>
    <p>
      Sysadmins, like <code>william</code>, can access the admin console.
    </p>
    <a href="{% url 'admin:index' %}" class="btn btn-primary">Django Admin</a>
  </div>
{% endblock %}
