{% extends "layouts/two_column.html" %}
{% load core_extras %}
{% block title %}Edit Model: {{ object.name }} · {{ block.super }}{% endblock %}
{% block breadcrumbs %}
  <a href="{% url 'maintainer-machine-list' %}">Machines</a>
  {% if machine_instance %}
    <a href="{% url 'maintainer-machine-detail' machine_instance.slug %}">{{ machine_instance.short_display_name }}</a>
    <a href="{% url 'machine-edit' machine_instance.slug %}">Edit</a>
  {% endif %}
  <span>Model</span>
{% endblock %}
{% block sidebar %}
  {% include "components/history_link.html" with history_url=object.get_admin_history_url %}
  {% sidebar_section label="Edit Model" %}
  <div class="sidebar__title">{{ object.name }}</div>
{% endsidebar_section %}
{% if instances %}
  {% sidebar_section label="Machines" %}
  <ul class="sidebar__list">
    {% for instance in instances %}
      <li>
        <a href="{% url 'maintainer-machine-detail' instance.slug %}">{{ instance.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endsidebar_section %}
{% endif %}
{% endblock %}
{% block main %}
  <div class="card card--padded">
    <form method="post" class="form-main">
      {% csrf_token %}
      {% form_non_field_errors form %}
      {% for fieldset_title, field_names in form.fieldsets %}
        <fieldset class="form-section">
          <legend>{{ fieldset_title }}</legend>
          {% for field_name in field_names %}
            {% with field=form|getfield:field_name %}
              {% form_field field %}
            {% endwith %}
          {% endfor %}
        </fieldset>
      {% endfor %}
      <div class="form-actions">
        <a href="{% url 'maintainer-machine-list' %}" class="btn btn--secondary">
          {% icon "circle-xmark" class="meta" %}
          Cancel
        </a>
        <button type="submit" class="btn btn--log">
          {% icon "floppy-disk" class="meta" %}
          Save Changes
        </button>
      </div>
    </form>
  </div>
{% endblock %}
