{% extends "catalog/machine_feed_base.html" %}
{% load static core_extras %}
{% block infinite_scroll_url %}
  {% url 'machine-activity-entries' machine.slug %}
{% endblock %}
{% block feed_content %}
  {% if activity_entries %}
    {% timeline id="log-list" %}
    {% for entry in activity_entries %}
      {% include "maintenance/partials/activity_entry.html" with entry=entry %}
    {% endfor %}
  {% endtimeline %}
{% else %}
{% empty_state empty_message="No activity yet." search_message="No activity matches your search." is_search=search_form.q.value %}
{% endif %}
{% endblock %}
