{% extends "layouts/two_column.html" %}
{% load core_extras %}
{% block title %}Edit {{ object.name }} · {{ block.super }}{% endblock %}
{% block breadcrumbs %}
  <a href="{% url 'maintainer-machine-list' %}">Machines</a>
  <a href="{% url 'maintainer-machine-detail' object.slug %}">{{ object.short_display_name }}</a>
  <span>Edit</span>
{% endblock %}
{% block mobile_actions %}
  <a href="{% url 'machine-model-edit' object.model.slug %}"
     class="btn btn--secondary btn--full">
    {% icon "pencil" class="meta" %}
    Edit Model
  </a>
{% endblock %}
{% block sidebar %}
  {% include "components/history_link.html" with history_url=object.get_admin_history_url %}
  {% sidebar_section %}
  <div class="sidebar__title">{{ object.name }}</div>
  <div class="sidebar__subtitle">{{ object.model|manufacturer_year }}</div>
  <div class="flex flex-wrap stack-tight space-above-sm"
       data-update-url="{% url 'machine-inline-update' object.slug %}">
    {% settable_machine_status_pill object %}
    {% settable_machine_location_pill object locations %}
  </div>
{% endsidebar_section %}
{% sidebar_section %}
<a href="{% url 'machine-qr' object.slug %}"
   class="btn btn--secondary btn--full">
  {% icon "qrcode" class="meta" %}
  QR Code
</a>
{% endsidebar_section %}
{% sidebar_section label="Model" %}
<a href="{% url 'machine-model-edit' object.model.slug %}"
   class="btn btn--secondary btn--full">
  {% icon "pencil" class="meta" %}
  Edit Model
</a>
{% endsidebar_section %}
{% endblock %}
{% block main %}
  <div class="card card--padded">
    <form method="post" class="form-main">
      {% csrf_token %}
      {% form_non_field_errors form %}
      {% form_fields form %}
      <div class="form-actions">
        <a href="{% url 'maintainer-machine-detail' object.slug %}"
           class="btn btn--secondary">
          {% icon "circle-xmark" class="meta" %}
          Cancel
        </a>
        <button type="submit" class="btn btn--log">
          {% icon "floppy-disk" class="meta" %}
          Save Changes
        </button>
      </div>
    </form>
  </div>
{% endblock %}
